eclipse_project/BiblioApp/war/BiblioServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://webservice.isima.fr/" name="BiblioServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservice.isima.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.isima.fr/" schemaLocation="BiblioServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addAuteur">
    <part name="parameters" element="tns:addAuteur"/>
  </message>
  <message name="addAuteurResponse">
    <part name="parameters" element="tns:addAuteurResponse"/>
  </message>
  <message name="getAllAuteurs">
    <part name="parameters" element="tns:getAllAuteurs"/>
  </message>
  <message name="getAllAuteursResponse">
    <part name="parameters" element="tns:getAllAuteursResponse"/>
  </message>
  <message name="searchAuteurs">
    <part name="parameters" element="tns:searchAuteurs"/>
  </message>
  <message name="searchAuteursResponse">
    <part name="parameters" element="tns:searchAuteursResponse"/>
  </message>
  <message name="updateAuteur">
    <part name="parameters" element="tns:updateAuteur"/>
  </message>
  <message name="updateAuteurResponse">
    <part name="parameters" element="tns:updateAuteurResponse"/>
  </message>
  <message name="deleteAuteur">
    <part name="parameters" element="tns:deleteAuteur"/>
  </message>
  <message name="deleteAuteurResponse">
    <part name="parameters" element="tns:deleteAuteurResponse"/>
  </message>
  <message name="addLivre">
    <part name="parameters" element="tns:addLivre"/>
  </message>
  <message name="addLivreResponse">
    <part name="parameters" element="tns:addLivreResponse"/>
  </message>
  <message name="getAllLivres">
    <part name="parameters" element="tns:getAllLivres"/>
  </message>
  <message name="getAllLivresResponse">
    <part name="parameters" element="tns:getAllLivresResponse"/>
  </message>
  <message name="searchLivres">
    <part name="parameters" element="tns:searchLivres"/>
  </message>
  <message name="searchLivresResponse">
    <part name="parameters" element="tns:searchLivresResponse"/>
  </message>
  <message name="updateLivre">
    <part name="parameters" element="tns:updateLivre"/>
  </message>
  <message name="updateLivreResponse">
    <part name="parameters" element="tns:updateLivreResponse"/>
  </message>
  <message name="deleteLivre">
    <part name="parameters" element="tns:deleteLivre"/>
  </message>
  <message name="deleteLivreResponse">
    <part name="parameters" element="tns:deleteLivreResponse"/>
  </message>
  <portType name="BiblioService">
    <operation name="addAuteur">
      <input wsam:Action="http://webservice.isima.fr/BiblioService/addAuteurRequest" message="tns:addAuteur"/>
      <output wsam:Action="http://webservice.isima.fr/BiblioService/addAuteurResponse" message="tns:addAuteurResponse"/>
    </operation>
    <operation name="getAllAuteurs">
      <input wsam:Action="http://webservice.isima.fr/BiblioService/getAllAuteursRequest" message="tns:getAllAuteurs"/>
      <output wsam:Action="http://webservice.isima.fr/BiblioService/getAllAuteursResponse" message="tns:getAllAuteursResponse"/>
    </operation>
    <operation name="searchAuteurs">
      <input wsam:Action="http://webservice.isima.fr/BiblioService/searchAuteursRequest" message="tns:searchAuteurs"/>
      <output wsam:Action="http://webservice.isima.fr/BiblioService/searchAuteursResponse" message="tns:searchAuteursResponse"/>
    </operation>
    <operation name="updateAuteur">
      <input wsam:Action="http://webservice.isima.fr/BiblioService/updateAuteurRequest" message="tns:updateAuteur"/>
      <output wsam:Action="http://webservice.isima.fr/BiblioService/updateAuteurResponse" message="tns:updateAuteurResponse"/>
    </operation>
    <operation name="deleteAuteur">
      <input wsam:Action="http://webservice.isima.fr/BiblioService/deleteAuteurRequest" message="tns:deleteAuteur"/>
      <output wsam:Action="http://webservice.isima.fr/BiblioService/deleteAuteurResponse" message="tns:deleteAuteurResponse"/>
    </operation>
    <operation name="addLivre">
      <input wsam:Action="http://webservice.isima.fr/BiblioService/addLivreRequest" message="tns:addLivre"/>
      <output wsam:Action="http://webservice.isima.fr/BiblioService/addLivreResponse" message="tns:addLivreResponse"/>
    </operation>
    <operation name="getAllLivres">
      <input wsam:Action="http://webservice.isima.fr/BiblioService/getAllLivresRequest" message="tns:getAllLivres"/>
      <output wsam:Action="http://webservice.isima.fr/BiblioService/getAllLivresResponse" message="tns:getAllLivresResponse"/>
    </operation>
    <operation name="searchLivres">
      <input wsam:Action="http://webservice.isima.fr/BiblioService/searchLivresRequest" message="tns:searchLivres"/>
      <output wsam:Action="http://webservice.isima.fr/BiblioService/searchLivresResponse" message="tns:searchLivresResponse"/>
    </operation>
    <operation name="updateLivre">
      <input wsam:Action="http://webservice.isima.fr/BiblioService/updateLivreRequest" message="tns:updateLivre"/>
      <output wsam:Action="http://webservice.isima.fr/BiblioService/updateLivreResponse" message="tns:updateLivreResponse"/>
    </operation>
    <operation name="deleteLivre">
      <input wsam:Action="http://webservice.isima.fr/BiblioService/deleteLivreRequest" message="tns:deleteLivre"/>
      <output wsam:Action="http://webservice.isima.fr/BiblioService/deleteLivreResponse" message="tns:deleteLivreResponse"/>
    </operation>
  </portType>
  <binding name="BiblioServicePortBinding" type="tns:BiblioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllAuteurs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="searchAuteurs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addLivre">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllLivres">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="searchLivres">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateLivre">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteLivre">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BiblioServiceService">
    <port name="BiblioServicePort" binding="tns:BiblioServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

